/*--footer--*/
.footer {
    background: #232121;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 35px;
}
.footer-content-agile {
    padding-top: 30px;
    color: #7D7C7C;
}
.footer-head-agile {
    padding: 0px 0px 20px;
    width: 74%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
}
.footer-head-agile ul li{
  display:inline-block;
}
span.fa-icon-w3 i {
    font-size: 20px;
    margin-right: 9px;
}
.footer-head-agile .mail a{
  color:#1a5e71;
  text-decoration:none;
}
.footer-content-agile h4 {
    font-size: 20px;
    margin: 16px 0px;
  color:#ffffff;
    text-transform: uppercase;
}
.logo-w3ls h2 a {
    font-size: 19px;
    padding: 5px 10px;
    margin: 0em 16em;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.aboutus-right-wthree{
  width: 100%;
}
.aboutus-right-wthree ul {
    margin-top: 14px;
}
.aboutus-right-wthree ul li {
    display: inline-block;
    margin-right: 7px;
    width: 35px;
    height: 35px;
    background: rgba(26, 94, 113, 0.83);
    border-radius: 50px;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.aboutus-right-wthree ul li:hover{
  background:#b56d10;
    -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.aboutus-right-wthree ul li i {
    color: #fff;
    padding-left: 12px;
    padding-top: 9px;
}
 .aboutus-right-wthree i.fa.fa-google-plus {
    padding-left: 9px;
}
.news-letter-agileits-w3layouts p {
    font-size: 14px;
}
.news-letter-agileits-w3layouts form {
    margin: 0px;
}

.aboutus-right-wthree p {
    font-size: 14px;
    line-height: 1.8em;
}
.footer-grid1-left {
    float: left;
    width: 35%;
}
.footer-grid1-right {
    float: right;
    width: 60%;
}
.footer-grid1 {
    margin-bottom: 15px;
}
.footer-grid1-right a {
    color: #7D7C7C;
  font-size:14px;
}
.footer-grid1-right span {
    color: rgba(26, 94, 113, 0.83);
    font-size: 12px;
  text-transform: capitalize;
}
/*--copy-right--*/
.copy {
    text-align: center;
    border-top: 1px ridge rgba(50, 50, 50, 0.92);
    padding-top: 1em;
    margin-top: 15px;
}
.copy p {
    color: #fff;
    font-size: 1em;
    margin-top: 15px;
}
.copy p a {
    color: #1B5464;
    text-decoration: none;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
  color:#b56d10;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/